body {
    background-color: black;
}

#divFrame {
    display: block;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 500px;
    border: 3px solid black;
    background-image: url('/images/cubes.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}

#tophalf {
    top: 0%;
}

#bottomhalf {
    position: relative;
    top: 300px;
}

input {
    text-align: center;
}

#displayScore {
    background-color: white;
    text-align: center;
}