body {
    background-color: black;
}

#divFrame {
    background-color: white;
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    width: 350px;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}

input {
    text-align: center;
}

#displayScore, #logOut {
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 350px;
}